<div class="container-fluid">
  <div class="row">
    <div class="col-12 Tadmin">
        <h1>Bienvenido al 치rea de administraci칩n.</h1>
        <p>Desde aqui podr치s crear viajes o gestionar ya existentes</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">id</th>
            <th scope="col">Travel</th>
            <th scope="col">Fecha</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Imagen</th>
            <th scope="col">Precio</th>
          </tr>
        </thead>
        <tbody>
          {{#each viajes}}
          <tr>
            <th scope="row">{{id}}</th>
            <td>{{viaje}}</td>
            <td>{{createAT}}-{{updatedAT}}</td>
            <td>{{descripcion}}</td>
            <td>{{img_path}}</td>
            <td>{{precio}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
      <button class="buttonV">A침adir</button>
   </div> 
</div>
